<div class="container">
<h1>Stupid Coach</h1>

<form  action="answer" data-turbo="false" >
  <input type="text" name="question">
  <input class="rounded-pink btn" type="submit" value="Ask something to your coach !">
</form>
</div>
